/* Makes the picture fill the whole screen whithout changing its aspect ratio. 
Also sets the z-index to -1 so it will appear behind everything else. */
#pic {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

/* This is the guessing box */
#first {
	padding: 20px;
	z-index: 2;
}

/* This is the button sections */
#second {
	padding: 10px;
	z-index: 2;
}

/* This is where messages appear */
#third {
	padding: 10px;
	z-index: 2;
}

/* This is an overly fancy way to make the score a circle and so that at any size
 the text inside will stay centered. */
.circle-text {
	float: right;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	background-color: #AD5CFF;
}

.circle-text div {
	float: left;
	width: 100%;
	padding-top: 50%;
	line-height: 1em;
	margin-top: -0.5em;
	text-align: center;
	color: #fff;
}